$primary-color: #2b5465; // тёмный синий (header/footer)
$secondary-color: #34495e; 
$text-color: #333;
$link-color: #3498db;
$bg-color: #f9f9f9;

$font-family: 'Arial', sans-serif;
$max-width: 1200px;
$gutter: 20px;